h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    position:absolute;
    bottom: 40%;
    opacity: 10px;
}

body{
    /* background-image: url("train.jpeg"); */
    background-color: aquamarine;
    
}

#clockcontainer{
    border: 2px double grey;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    position: relative;
    margin: auto;
}

#hour, #minute, #second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 21.3%;
    top: 28.7%;
    left: 49%;
    background-color:black;
    opacity: 0.8;

}

#minute {
    width: 1.5%;
    height: 28%;
    top: 22%;
    left: 49.3%;
    background-color:black;
    opacity: 0.8;
    
}

#second {
    width: 1.2%;
    height: 33%;
    top: 17%;
    left: 49.4%;
    background-color: red;
    opacity: 0.8;
    
}